.form_field {
    display: inline-block;
    padding: 8px;
    width: 90%;
    border-bottom: 1px solid #e2e2e2;
}
.list_box {
    margin: 4px;
    margin-top: 0;
}
.form_label {
    margin-bottom: 4px;
    font-size: 1.2rem;
}
.form_btn {
    cursor: pointer;
    margin: 0px;
    margin: 0px 4px;
}
.list {
    border-bottom: 1px solid #e2e2e2;
    padding: 3px;
    text-align: left;
    display: flex;
    align-items: flex-start;
}
.trash {
    float: right;
}
.todo_title {
    width: 75%;
    max-height: 33px;
    overflow: scroll;
    display: inline-block;
    overflow-wrap: break-word;
}
.form_minus {
    text-align: center;
    margin-bottom: 4px;
}
.minus {
    color: #d1d1d18e;
    float: left;
    font-size: 0.9rem;
}
