.memo_field{
    height: 100%;
    overflow:scroll;
}
.memo_flame{
    height:88%;
    width:40%;
    margin:2.5%;
    border:1px solid #d1d1d1;
    text-align: center;
    box-shadow: 0 0 3px #d1d1d1;
    -webkit-app-region: none;
}
.memo_todo{
    border-bottom:1px solid #00b8d8;
    width:96%;
    display: inline-block;
}
.todo_todo{
    padding:4px 4px 0px;
    float: left;
}
.memo_title{
    display: inline-block;
    width:70%;
    height:15px;
    overflow: scroll;
    overflow-wrap : break-word;
    padding:4px 4px 0px;
    float: right;
    text-align: right;
}
.edit{
    text-align: left;
}
.edit_btn{
    font-size: 0.7rem;
    float: right;
}
.memo_contents{
    margin:4px;
    padding:8px;
}
.none{
    color: #d1d1d1;
}